<li>
  <%= link_to user.email, user %>
  <small>
    <%= link_to "Edit", edit_user_path(user) if can? :edit, user %>
    <%= link_to "Delete", user, :method => :delete, :confirm => "Are you sure you want to delete this user?" if can? :delete, user %>
  </small>
</li>